body {
    background-color: #f0ecba;
}

h1 {
    font-style: bold;
}

h2 {
    font-style: bold;
}

main {
    background-color: beige; float:right; margin-top: 50px;
}

nav {
    background-color: rgb(247, 247, 229); float: left;
}

p {
    margin-top: 5px; font-size: large; margin-right: 10px;
}
