body {
    font-family: 'Segoe UI';
    letter-spacing: 1px;
    word-spacing: 1px;
    color: white;
}

.recuadro {
    border-radius: 10px;
    border: 1px solid #a0b6bd;
    background: rgb(51,93,106);
    background: linear-gradient(0deg, rgba(51,93,106,0.9) 0%, rgba(110,144,159,0.9) 52%, rgba(121,180,213,0.9) 100%);
    padding: 50px;
}

.recuadro_widgets {
    border-radius: 10px;
    border: 1px solid #a0b6bd;
    background: rgb(51,93,106);
    background: linear-gradient(0deg, rgba(101, 159, 177, 0.9) 0%, rgba(110,144,159,0.9) 52%, rgba(121,180,213,0.9) 100%);
    padding: 25px;
}

.altura_buscador {
    height: 200px;
}

.altura_slider {
    height: 150px;
}

.viaje {
    width: 600px;
    border-radius: 10px;
    border: 1px solid #a0b6bd;
    padding: 5px;
    margin-top: 10px;
}

.flex {
    display: flex;
}

.centrar {
    justify-content: center;
}

.flex_columna {
    flex-direction: column;
    align-items: center;
    align-self: flex-start; 
}

.margenes {
    margin-left: 100px;
    margin-right: 100px;
}

.margenes_arriba {
    margin-top: 100px;
}

.tamaño {
    width: 700px;
    height: 1000px;
}

.imagen_fondo {
    background-image: url("13626238.jpg");
    background-color: blueviolet;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(14px);;
    margin: 0px;
}

